
body{
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
}


//Projects Grid

.container {
  height: 100vh;
  width: 100%;
  background-color: #afeeed;

  display: flex;
  justify-content: center; /*change when hero text is centre*/
}
.card {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  justify-content: space-between; /*change when hero text is centre*/
  flex-wrap: wrap;
  padding: 5px 4px;

  overflow: hidden;
  gap: 20px;
}



.card .card-item {
  position: relative;
  -ms-flex: 45%;
  flex: 45%;
  max-width: 50%;
  border-radius: 6px;
  border: 3px solid #5EC19E;
  overflow: hidden;
  transition: 0.4s ease-in-out all;
}

.card .card-item:hover {
  box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
  transform: translateY(-4px);
  border: 3px solid #5EC19E;
  z-index: 1;
}

.card .card-item:hover .card-overlay{
  //background-color: rgba(108, 205, 172, 0.3);
  //background-color: rgba(153, 194, 179, 0.5);
  background-color: rgba(202, 248, 231, 0.65);

  opacity:1;

}


.card .card-item:hover::before {
  //content: '';
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  ////background-color: rgba(94, 193, 158, 0.5);
  //z-index: -1;
  //transition: 0.4s ease-in-out all;
}

.image-container{
  vertical-align: middle;
  width: 100%;
  //max-width:500px;
  height:200px;
}

.card img {
  //vertical-align: middle;
  width: 100%;
  height:100%;

  //border-radius: 4px;
  transition: 0.4s ease-in-out all;
  object-fit: cover;

}


.card-overlay{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding:20px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  //background: rgb(15,20,56);
  //background: linear-gradient(0deg, rgba(230, 100, 100,0.3) 0%, rgba(255,255,255,0) 100%);
  backdrop-filter: blur(4px) grayscale(50%);


  opacity:0;
  transition: 0.3s ease-in-out all;

  //border-radius: 4px;

}

.card-overlay h3{
  margin:0;

}

.card .card-details {
  //background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;

  display: flex;
  align-items: center;
  //flex-direction: column;
  justify-content: flex-start;


  overflow: hidden;
  border-radius: 6px;
}


.card-title {
  position: absolute;
  font-family: "Rajdhani-Light",monospace;

  //padding: 10px 5px;
  font-size: 25px;
  margin: 5px 20px;
  top: 0;

  color:#0F1438;
  z-index: 5;
}

.card-title:hover .card-overlay{
//opacity:1;
}


.card-details{
  font-size: 16px;
 font-family: "Roboto-Medium", sans-serif;
  color: #0F1438;
  //background-color: red;

}



@media(max-width:1200px) {
  .card .card-item {
    //-ms-flex: 30%;
    //flex: 30%;
    //max-width: 30%;
  }
}


@media screen and (max-width: 896px) {
  .card .card-item {
    //-ms-flex: 45%;
    //flex: 45%;
    //max-width: 50%;
    -ms-flex: 90%;
    flex: 90%;
    max-width: 100%;
  }

  .main{
    text-align: center;
    margin-top: 15vh
  }
}


@media(max-width:620px) {
  .card .card-item {
    //-ms-flex: 90%;
    //flex: 90%;
    //max-width: 90%;
  }

  .card{
    justify-content: space-around; /*change when hero text is centre*/

  }
}


